nav ul {
     list-style-type: none;
 }

nav ul li {
    border: blue solid 2px;
    float: left;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
    display: block;
    width: 120px;
    padding: .5em;
    color: blue;
    font-weight: bold;
    font-size: 125%;
}
.mouseover {
    background-color: blue;
    color: white;
}